<div class="col-sm-8 mb-3 d-none d-md-block">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col text-center">
                    <span class="text-white-50" id="rgb-label">RGB</span>
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>R</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="256" value="0" class="slider" id="rgbar" oninput="RGB()">
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>G</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="256" value="0" class="slider" id="rgbag" oninput="RGB()">
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>B</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="256" value="0" class="slider" id="rgbab" oninput="RGB()">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col text-center">
                    <span class="text-white-50"  id="cmyk-label">CMYK</span>
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>C</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="100" value="0" class="slider" id="cmykc" oninput="CMYK()">
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>M</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="100" value="0" class="slider" id="cmykm" oninput="CMYK()">
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>Y</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="100" value="0" class="slider" id="cmyky" oninput="CMYK()">
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>K</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="100" value="0" class="slider" id="cmykk" oninput="CMYK()">
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-6">
            <div class="row">
                <div class="col text-center">
                    <span class="text-white-50" id="hwb-label">HWB</span>
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>H</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="360" value="0" class="slider" id="hwbh" oninput="HWB()">
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>W</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="100" value="0" class="slider" id="hwbw" oninput="HWB()">
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>B</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="100" value="0" class="slider" id="hwbb" oninput="HWB()">
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="row">
                <div class="col text-center">
                    <span class="text-white-50"  id="hsl-label">HSL</span>
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>H</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="360" value="0" class="slider" id="hslh" oninput="HSL()">
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>S</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="100" value="0" class="slider" id="hsls" oninput="HSL()">
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-end">
                    <span class="text-white-50"><small>L</small></span>
                </div>
                <div class="col-10">
                    <input type="range" min="0" max="100" value="0" class="slider" id="hsll" oninput="HSL()">
                </div>
            </div>
        </div>
    </div>
</div>
